*{margin:0;}
#kcp{width:100%;}
#kcp-title{padding:4pt;background-color:#444;color:#fff;}
#kcp-tag{padding:2pt;background-color:#eee;}
#kkkkkcp-tiles img{margin:5pt;border:1 solid #000;background-color:#ffe;}
#kkkkkcp-tiles img.scale1{width:64pt;height:48pt;}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  display: inline-block;
}
* html .clearfix{
  height: 1%;
}
.clearfix{
  display: block;
}
